
body {
    font-family:"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }
table{
    height:10vh;
    overflow: auto;
    width:100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    padding: 7px;
    text-align: left;
}
h1{
    text-align:center;
}
h3{
    text-align:center;
}
a{
    text-decoration:none;
}

a:visited {
    color: green;
  }
  
  a:hover {
    color: #008CBB;
  }
  
  a:active {
    color: #008CBA;
  }